<!-- start: GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400italic,600,700|Raleway:100,300,400,500,600,700|Crete+Round:400italic"
    rel="stylesheet" type="text/css" />
<!-- end: GOOGLE FONTS -->
<!-- start: MAIN CSS -->
<link rel="stylesheet" href="assets/css/vendors.bundle.min.css">
<!-- end: MAIN CSS -->
<!-- start: ClipTwo CSS -->
<link rel="stylesheet" href="assets/css/theme.bundle.min.css">
<link rel="stylesheet" href="assets/css/themes/theme-1.min.css" id="skin_color" />
<!-- end: ClipTwo CSS -->